*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
}

button {
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}

::-webkit-scrollbar {
  display: none;
}